<a routerLink="/posts">Back to Posts</a>
<h1>Create New Post</h1>
<form class="create-form" [formGroup]="createForm" (ngSubmit)="createPost()">
  <div class="form-element">
    <label for="title">Title</label>
    <br>
    <input type="text" id="title" name="title" formControlName="title">
  </div>
  <div class="form-element">
    <label for="body">Body</label>
    <br>
    <textarea type="text" id="body" name="body" formControlName="body"></textarea>
  </div>
  <div class="form-element">
    <label for="tags">Tags</label>
    <br>
    <select name="tags" id="tags" multiple formControlName="tags">
      <option *ngFor="let tag of tags" [value]="tag.id" [ngValue]="tag.name">{{ tag.name }}</option>
    </select>
  </div>
  <button type="submit">Create</button>
</form>