<div class="posts-list">
  <ng-container *ngIf="posts$ | async as posts">
    <article *ngFor="let post of posts" class="posts-list_item">
      <h3 class="posts-list_title">
        <a class="posts-list_title_link" routerLink="/posts/{{ post.id }}">{{ post.body }}</a>
      </h3>
      <div class="posts-list_like" [ngClass]="{'posts-list_liked': post.favorite }"
        (click)="postsService.toggleLike(post.id)">
        <span class="material-symbols-outlined">
          favorite
        </span>
      </div>
    </article>
  </ng-container>
</div>